<div class="row <%=config.party%>-row justify-content-center map-table">

    <!-- Counter -->
    <!--<div class="col-12">
        <div class='counter-div'></div>
    </div>-->

    <!-- Grid -->
    <div class="col-12 grid-col">

        <div class='party-toggle'>
            <span val='dem'>Democrat</span> | <span val='rep'>Republican</span>
        </div>

        <div class="chart-grid chart"></div>

        <p class="graphic-source note"></p>

    </div>

    <!-- Dropdown menu -->
    <div class="col-12 dropdown-row"></div>

    <!-- Race name and delegates -->
    <div class="col-sm-12 party-head">
        <p class="race-name"><%= config.active[`${config.party}Display`]%></p>
        <p class="delegates"><span class="del-num"><%= config.active[`${config.party}Dels`]%> delegates</span></p>
    </div>

    <!-- Separator line -->
    <div class="col-12 separator">
        <div class="vertical-separator hidden-sm-down"></div>
    </div>

    <!-- Results Table -->
    <div class="col-sm-6 col-12 table-col">
        <div class="chart chart-table"></div>
        <p class="graphic-source note"></p>
    </div>

    <!-- Map -->
    <div class="col-sm-6 col-12 map-col">
        <div class="chart chart-map"></div>
    </div>

    <!-- Delegates -->

    <div class="col-12 col-md-10 col-lg-7 del-col">
        <p class="del-title">
            <% if (config.party === "dem") {%>Democratic<%} else {%>Republican<%} %> delegate allocation
        </p>

        <!-- <div class="del-separator"></div> -->

        <p class='body dem'>Pledged delegates are awarded proportionally by each state based on the <a href='https://graphics.reuters.com/USA-ELECTION-DELEGATE-TRACKER/0100B5DR3JT/index.html' target-'_blank'>outcome of each primary or caucus</a>. Candidates are typically eligible to receive a share of delegates if they win at least 15 percent of the votes cast.</p>

        <p class='body dem'>To win the Democratic nomination, a candidate has to have <strong>support from a majority (1,991) of the pledged delegates</strong> on the first ballot at the convention.</p>

        <p class='body rep'>To win the Republican nomination, a candidate has to have support from a majority of the pledged delegates on the first ballot at the convention.</p>

        <div class="chart chart-del <%=config.party%>-del-chart"></div>
    </div>

</div>
