<div class="col-12 header">
    <div class="graphic-title"><%= config.title%></div>
    <p class="graphic-subhead"><%= config.subhead%> </p>
    <p class="timestamp"></p>
    <!-- TIME STAMP AND COUNTER FOR MOBILE -->
    <div class="timing-mobile hidden-sm-up">
        <!-- <p class="timestamp"></p> -->
        <div class="pulse-container">
            <span class="pulse">
                <i class="fas fa-circle" style="vertical-align:middle"></i>
            </span>
            <span class="counter"></span>
        </div>
    </div>
</div>
