<div class="hidden-xs-down">
    <div class="pulse-container">
        <p class="pulse">
            <i class="fas fa-circle" style="vertical-align:middle"></i>
        </p>
        <p class="counter"></p>
    </div>
    <!-- <p class="timestamp"></p> -->
</div>