<div class="col-12 header">

    <div class="item title-block">
        <div class='party-toggle'>
            <span val='dem'>Democrat</span> | <span val='rep'>Republican</span>
        </div>
        <div class="graphic-title"><%= config.embedTitle%></div>
    </div>

    <div class="item time-meta">
        <p class="timestamp"></p>
        <div class="pulse-container">
            <span class="pulse">
                <i class="fas fa-circle" style="vertical-align:middle"></i>
            </span>
            <span class="counter"></span>
        </div>
    </div>

</div>
