<p class='body'>Pledged delegates are awarded proportionally by each state based on the <a href='https://graphics.reuters.com/USA-ELECTION-DELEGATE-TRACKER/0100B5DR3JT/index.html' target-'_blank'>outcome of each primary or caucus</a>. Candidates are typically eligible to receive a share of delegates if they win at least 15 percent of the votes cast.</p>

<p class='body'>Super Tuesday has the biggest slate of delegates up for grabs in the lead-up to the Democratic National Convention. To win the Democratic nomination, a candidate has to have <strong>support from a majority (1,991) of the pledged delegates</strong> on the first ballot at the convention.</p>

<p class='body'>Super Tuesday has the biggest slate of delegates up for grabs in the lead-up to the Republican National Convention. To win the Republican nomination, a candidate has to have support from a majority of the pledged delegates on the first ballot at the convention.</p>