<!DOCTYPE html>
<html lang="<%= lang %>" dir="ltr">
  <head>
  </head>
  <body>
    <h1>I'm a separate embed template</h1>
    <div id="app"></div>
    <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
    <script>
      new pym.Child({ polling: 500 });
    </script>
  </body>
</html>
