<!DOCTYPE html>
<html lang="<%= lang %>" dir="ltr">
  <head>
  </head>
  <body>
    <%- include('article.ejs'); %>

    <!--  Pym.js script -->
    <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
    <script type="application/javascript">
      window.childFrame = new pym.Child();
    </script>
    <!--  -->

  </body>
</html>
