<!DOCTYPE html>
<html lang="<%= lang %>" dir="ltr">
  <head>
  <!-- Permutive script -->
  <script>  
  !function(n,e,o,r,i){if(!e){e=e||{},window.permutive=e,e.q=[],e.config=i||{},e.config.projectId=o,e.config.apiKey=r,e.config.environment=e.config.environment||"production";for(var t=["addon","identify","track","trigger","query","segment","segments","ready","on","once","user","consent"],c=0;c<t.length;c++){var f=t[c];e[f]=function(n){return function(){var o=Array.prototype.slice.call(arguments,0);e.q.push({functionName:n,arguments:o})}}(f)}}}(document,window.permutive,"a55a84b3-9632-4869-b625-3d8ef43ed18d","9c1ce68f-7551-4e2e-9ddb-f2beacbd91bf",{});  
  window.googletag=window.googletag||{},window.googletag.cmd=window.googletag.cmd||[],window.googletag.cmd.push(function(){if(0===window.googletag.pubads().getTargeting("permutive").length){var g=window.localStorage.getItem("_pdfps");window.googletag.pubads().setTargeting("permutive",g?JSON.parse(g):[])}});
  permutive.addon('web', {});
  </script>
  <script async src="https://cdn.permutive.com/a55a84b3-9632-4869-b625-3d8ef43ed18d-web.js"></script>
  </head>
  <body>
    <%- include('templates/nav'); %>

    <%- include('article.ejs'); %>

    <div id="sharetool-container"></div>
    <div id="related-links-container"></div>

    <%- include('templates/footer'); %>
  </body>
</html>
