<div class='byline-container'>
  <div class='byline'>Graphics by <strong><a href=".">Mick</a></strong> & <strong><a href=".">Charlie</a></strong></div>
  <div class='byline'>Photography by <strong><a href=".">Keith</a></strong></div>
</div>
