<section class="hero-title">
  <figure>
    <img class="crop-left" srcset="img/bear/600.jpg 600w, img/bear/1200.jpg 1200w, img/bear/2400.jpg 2400w" src="img/bear/2400.jpg" alt="WRITE ME">
  </figure>
  <div class='title color-white'>
    <p class="section-title text-shadow color-orange">
      <%= gt.gettext('Reuters Internet Fashion')%>
    </p>
    <h2 class="spaced text-shadow-darker uppercase color-white important">
      <%= gt.gettext('Polar')%>
    </h2>
    <p class="text-shadow-darkest">
      <%= gt.gettext('Cold simple theme for features and graphics.')%>
    </p>
  </div>
</section>
