<section class="text-title">
    <div class='title'>
      <h2><%= gt.gettext('Headline goes here')%></h2>
      <p><%= gt.gettext('Subhed placeholder text here. Subhed placeholder text here.')%></p>
    </div>
</section>
