.dropdown-row {
  @import 'choices.js/src/styles/base.scss';
  @import 'choices.js/src/styles/choices.scss';
  //override library inner div
  .choices__inner {
    background-color: #fff;
    border: none;
    font-size: 2rem;
    // background: url("/img/dropdown-arrow.png") no-repeat right content-box !important;
    padding-right: 15px;
    @include media-breakpoint-down(sm) {
      font-size: 1.4rem;
    }
  }
  //override options styling
  .choices__item {
    padding-right: 10px !important;
  }
  .state-select {
    text-align: center;
    font-family: 'Knowledge', sans-serif;
    font-weight: 600;
    margin: 50px auto;
    max-width: 400px;
    position: relative;
    color: $gray-800;
    font-weight: 600;
    border: 1px solid $gray-200;
    border-radius: 0.25rem;
  }
  .choices[data-type*='select-one']:after {
    display: none;
  }

  //   .select {
  //
  //
  //     width: 100%;
  //
  //

  //   }
  //   .select select {
  //
  //     display: inline-block;
  //     width: 100%;
  //     margin: 0;
  //     padding: .5rem 2.25rem .5rem 1rem;
  //     line-height: 1.5;
  //     color: $gray-800;
  //     background-color: rgb(255, 255, 255);
  //
  //
  //     cursor: pointer;
  //     outline: 0;
  //     text-align:center;
  //
  //

  //     option, optgroup option {
  //       font-size:1rem;
  //       font-weight:500;
  //     }
  //     .state-option {
  //       font-size:1rem;
  //       font-weight:500;
  //     }
  //     // -webkit-appearance: none;
  //        -moz-appearance: none;
  //             appearance: none;

  //   }

  //   /* Undo the Firefox inner focus ring */
  //   .select select:focus:-moz-focusring {
  //     color: transparent;
  //     text-shadow: 0 0 0 #000;
  //     font-size: 2rem;
  //   }

  //   /* Dropdown arrow */
  //   .select:after {
  //     position: absolute;
  //     top: 50%;
  //     right: 1.25rem;
  //     display: none;
  //     content: "";
  //     width: 0;
  //     height: 0;
  //     margin-top: -.15rem;
  //     pointer-events: none;
  //     border-top: .35rem solid;
  //     border-right: .35rem solid transparent;
  //     border-bottom: .35rem solid transparent;
  //     border-left: .35rem solid transparent;
  //   }

  //   /* Hover state */
  //   /* Uncomment if you need it, but be aware of the sticky iOS states.
  //   .select select:hover {
  //     background-color: #ddd;
  //   }
  //   */

  //   /* Focus */
  //   .select select:focus {
  //     box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
  //   }

  //   /* Active/open */
  //   .select select:active {
  //     color: #fff;
  //     background-color: $gray-100;
  //   }

  //   /* Hide the arrow in IE10 and up */
  //   .select select::-ms-expand {
  //     display: none;
  //   }

  //   /* Media query to target Firefox only */
  //   @-moz-document url-prefix() {
  //     /* Firefox hack to hide the arrow */
  //     .select select {
  //       text-indent: 0.01px;
  //       text-overflow: '';
  //       padding-right: 1rem;
  //     }

  //     /* <option> elements inherit styles from <select>, so reset them. */
  //     .select option {
  //       background-color: white;
  //     }
  //   }

  //   /* IE9 hack to hide the arrow */
  //   @media screen and (min-width:0\0) {
  //     .select select {
  //       z-index: 1;
  //       padding: .5rem 1.5rem .5rem 1rem;
  //     }
  //     .select:after {
  //       z-index: 5;
  //     }
  //     .select:before {
  //       position: absolute;
  //       top: 0;
  //       right: 1rem;
  //       bottom: 0;
  //       z-index: 2;
  //       content: "";
  //       display: block;
  //       width: 1.5rem;
  //       background-color: #eee;
  //     }
  //     .select select:hover,
  //     .select select:focus,
  //     .select select:active {
  //       color: $gray-800;
  //       background-color: #eee;
  //     }
  //   }
}
