.embed-byline.graphic-source {
  display: none;
}

.embed {
  padding-right: 0;

  .covid-container {
    display: none;
  }

  .grid-col .party-toggle {
    display: none;
  }

  p.del-title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .header {
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
    align-items: bottom;

    .title-block {
      float: left;
      text-align: left;
      vertical-align: bottom;
      align-self: flex-end;
    }

    .time-meta {
      float: right;
      text-align: right;
      align-self: flex-end;

      .pulse-container {
        background-color: #de1e2c;
        padding: 0 7px 0 2px;
        margin-bottom: 3px;
        border-radius: 3px;
        color: #fff;
      }

      .pulse {
        font-size: 8px;
        color: #fff;
        height: 19px;
        width: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        position: relative;
        top: 1px !important;

        i {
          animation: pulse 3s infinite;
        }
      }
    }

    @media (max-width: 550px) {
      display: inline-block;

      .title-block {
        width: 100%;
        display: inline-block;
      }

      .time-meta {
        margin-top: 8px;
        display: block;
        text-align: left;
        float: left;
      }
    }
  }

  table {
    margin-bottom: 0;
  }

  .state-races {
    margin-top: 20px;
  }

  .graphic-title {
    font-size: 1.8rem;
    margin-top: 0;
  }

  .graphic-subhead {
    font-size: 0.9rem;
  }

  .graphic-source.byline {
    display: none;
  }

  .graphic-source.embed-byline {
    display: inline-block;
  }

  .note-block {
    padding-top: 0;
    padding-bottom: 0;
  }

  .graphic-source.note {
    //display: none;
  }

  .party-btn {
    display: none;
  }

  .refer {
    font-family: $font-family-sans-serif;
    display: none;
    text-align: right;
    float: right;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;

    .fa-angle-right {
      margin-left: 3px;
    }
  }
}

.container.screenshot {
  width: 1024px;
  height: 512px;
  outline: 1px solid black;
  padding: 0 80px;
  margin-top: 30px;
  position: relative;

  #taskbar-container {
    display: none;
  }

  .timestamp {
    // position: absolute;
    //    // right: 20px;
    //    top: 60px;
  }

  .graphic-title,
  .graphic-subhead,
  .counter-div,
  .timing-mobile,
  .party-toggle,
  .pulse-container {
    display: none;
  }

  &.table-only {
    .graphic-title {
      display: block;
      font-size: 2rem;
      margin-top: 20px;
    }

    .main {
      margin-top: 20px;
    }

    .state-races {
      width: 850px;
    }
    .timestamp {
      margin-top: 10px;
    }

    .note-block {
      left: 80px;
    }
  }

  &.dels-only {
    .graphic-title {
      display: block;
      font-size: 2.5rem;
      // content:none;
      margin-top: 20px;
      // position:absolute;
      // left:0px;
      // top:20px;
      margin-top: 50px;
    }
    .main {
      margin-top: 0px;
    }
    .chart-del {
      // position:absolute;
      // top:100px;
      margin-top: 50px;
    }
    .tr-today {
      background-color: #fff !important;
    }

    .tr-previous td {
      background-color: #fff !important;
    }

    tr.state {
      font-size: 0.7rem;
      display: none;
    }
    .header {
      width: 100%;
      height: auto;
      .time-meta {
        text-align: center;
        // position:absolute;
        // right:0;
        // text-align:center;
        margin-top: 20px;
        float: none;
      }
    }
    span.img {
      // display:none;
      margin-bottom: 5px;
    }
  }

  .note-block {
    position: absolute;
    bottom: 20px;
    left: 80px;
    padding-left: 0;
  }

  .graphic-source.note {
    display: none;
  }

  .graphic-source.byline {
    display: none;
  }

  .embed-byline {
    display: inline-block;
  }
}

.container.state-only {
  .grid-col,
  .dropdown-row,
  .party-head,
  .separator,
  .del-col {
    display: none;
  }
}

.container.table-only {
  .dropdown-row,
  .party-head,
  .map-col,
  .table-col,
  .separator,
  .del-col {
    display: none;
  }

  &.homepage {
    .refer {
      width: 100%;
      font-size: 0.85rem;
      display: flex;
    }
  }

  .grid-col .note {
    display: none;
  }
}

.container.dels-only {
  .grid-col,
  .dropdown-row,
  .party-head,
  .map-col,
  .table-col,
  .separator {
    display: none;
  }

  &.homepage {
    .refer {
      width: 100%;
      font-size: 0.85rem;
      display: flex;
    }
  }

  .del-col {
    margin-top: 0;
    margin-bottom: 0;
    flex: none;
    width: 100%;
    max-width: 100%;

    p.body {
      display: none;
    }
  }

  .del-title,
  .del-separator {
    display: none;
  }

  .del-chart {
    margin-top: 0;
    margin-bottom: 0;
  }

  .grid-col .note {
    display: none;
  }

  .header {
    display: inline-block;

    .title-block {
      width: 100%;
      display: inline-block;
    }

    .time-meta {
      margin-top: 8px;
      display: block;
      text-align: left;
      float: left;
    }
  }
}
