.taskbar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #333333;
  align-items: center;

  @include media-breakpoint-down(sm) {
    justify-content: start;
    margin-top: 10px;

    .hidden-sm-down {
      display: none !important;
    }
  }

  // @media (max-width: 767.98px) {

  // }

  .task-item {
    padding: 0px 18.5px;
    letter-spacing: 0;
    font-size: 1rem;
    font-family: $font-family-sans-serif;

    //link reset
    a {
      color: #333333;
      text-decoration: none;
    }

    &.active {
      font-weight: 600;
      background: #eeeeee 0% 0% no-repeat padding-box;
      padding: 1px 18.5px;
    }
  }

  .task-separator {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-right: 1px solid #dddddd;
    width: 0px;
    height: 18px;
  }

  .logo {
    img {
      margin-right: 10px;
      width: 50px;
      position: relative;
      top: -2px;
    }
  }
}
