.us-map {
  position: relative;

  &.in-transition {
    .state,
    .county {
      pointer-events: none !important;
    }

    // .outline-g {
    //     display: none;
    // }
  }

  .state {
    stroke: $gray-300;
    stroke-width: 0.5px;
    fill: white;
    pointer-events: none;

    &.is-voting {
      fill: $gray-100;
      pointer-events: all;
    }
  }

  .county {
    fill: $gray-100;
    stroke: white;
    stroke-width: 0.5;
  }

  .outline-g path {
    stroke-width: 2px;
    stroke: black;
    fill: none;
  }

  .state-label {
    text-anchor: middle;
  }

  .intx-g path {
    fill: none;
    pointer-events: none;
    stroke: #444;
    stroke-width: 2;
  }

  .state-cities-g,
  .state-label {
    pointer-events: none;
    opacity: 0;

    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;

    &.active {
      opacity: 1;
    }

    circle {
      fill: #333;
      stroke: white;
      stroke-width: 1px;
    }

    text {
      font-size: 13px;
      font-weight: 600;
      fill: #333;
      font-family: $font-family-sans-serif;
    }

    text.bkgd {
      fill: white;
      paint-order: stroke;
      stroke: white;
      stroke-width: 3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      opacity: 0.7;
    }
  }
}
